<div class="container">
  <ul>
    <li>There are <%= Octokit.commits('chaeokay/RESTful_CRUD').size %> commits in 'ChaeOkay's' repo 'RESTful_CRUD'</li>

    <li>Click to see the <a href=<%= Octokit.readme('chaeokay/RESTful_CRUD').html_url %>>README.md</a></li>

    <% a = Octokit.user('chaeokay') %>
    <li>'ChaeOkay' has <%= a.public_gists %> public gists</li>
  </ul>
</div>
